Repository openstack/watcher: changes, and which Zuul jobs are due for each by the changed paths.
All: watcher-tempest-gnocchi, watcher-tempest-api-ipv6-only, watcher-grenade, watcher-tempest-prometheus, watcher-tempest-aetos, watcher-tempest-prometheus-realdata, watcher-tempest-prometheus-threading, watcher-tempest-aetos-realdata, watcher-tempest-functional, watcher-aetos-integration, python-watcherclient-functional

Path conditions:
  watcher-tempest-gnocchi: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^watcher/hacking/.*$, ^watcher/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  watcher-tempest-api-ipv6-only: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^watcher/hacking/.*$, ^watcher/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  watcher-grenade: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^watcher/hacking/.*$, ^watcher/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  watcher-tempest-prometheus: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^watcher/hacking/.*$, ^watcher/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  watcher-tempest-aetos: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^watcher/hacking/.*$, ^watcher/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  watcher-tempest-prometheus-realdata: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^watcher/hacking/.*$, ^watcher/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  watcher-tempest-prometheus-threading: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^watcher/hacking/.*$, ^watcher/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  watcher-tempest-aetos-realdata: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^watcher/hacking/.*$, ^watcher/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  watcher-tempest-functional: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^watcher/hacking/.*$, ^watcher/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  watcher-aetos-integration: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^watcher/hacking/.*$, ^watcher/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  python-watcherclient-functional: any of: ^watcher/api/*

Remove unused methods from KeystoneHelper
  watcher/common/keystone_helper.py
Due: watcher-tempest-gnocchi, watcher-tempest-api-ipv6-only, watcher-grenade, watcher-tempest-prometheus, watcher-tempest-aetos, watcher-tempest-prometheus-realdata, watcher-tempest-prometheus-threading, watcher-tempest-aetos-realdata, watcher-tempest-functional, watcher-aetos-integration

Replace keystoneclient with openstacksdk
  devstack/lib/watcher
  releasenotes/notes/keystoneclient-openstacksdk-migration-23fe0611b0052209.yaml
  watcher/common/keystone_helper.py
  watcher/conf/__init__.py
  watcher/conf/keystone.py
  watcher/conf/keystone_client.py
  watcher/decision_engine/model/collector/manager.py
  watcher/tests/fixtures/watcher.py
  watcher/tests/unit/common/test_keystone_helper.py
Due: watcher-tempest-gnocchi, watcher-tempest-api-ipv6-only, watcher-grenade, watcher-tempest-prometheus, watcher-tempest-aetos, watcher-tempest-prometheus-realdata, watcher-tempest-prometheus-threading, watcher-tempest-aetos-realdata, watcher-tempest-functional, watcher-aetos-integration

Remove python-keystoneclient dependency
  releasenotes/notes/keystoneclient-openstacksdk-migration-23fe0611b0052209.yaml
  requirements.txt
  watcher/common/clients.py
  watcher/common/exception.py
  watcher/common/service.py
  watcher/tests/unit/decision_engine/cluster/test_cinder_cdmc.py
  watcher/tests/unit/decision_engine/cluster/test_nova_cdmc.py
Due: watcher-tempest-gnocchi, watcher-tempest-api-ipv6-only, watcher-grenade, watcher-tempest-prometheus, watcher-tempest-aetos, watcher-tempest-prometheus-realdata, watcher-tempest-prometheus-threading, watcher-tempest-aetos-realdata, watcher-tempest-functional, watcher-aetos-integration

Update configuration and integrations docs
  doc/source/configuration/configuring.rst
  doc/source/integrations/index.rst
Due: none

Update configuring docs for keystone section
  doc/source/configuration/configuring.rst
Due: none

Freeze data_model API response fields
  api-ref/source/watcher-api-v1-datamodel.inc
  doc/source/contributor/plugin/cdmc-plugin.rst
  releasenotes/notes/freeze-data-model-api-fields-d811e6675c3d455f.yaml
  watcher/api/controllers/v1/data_model.py
  watcher/tests/unit/api/v1/test_data_model.py
Due: watcher-tempest-gnocchi, watcher-tempest-api-ipv6-only, watcher-grenade, watcher-tempest-prometheus, watcher-tempest-aetos, watcher-tempest-prometheus-realdata, watcher-tempest-prometheus-threading, watcher-tempest-aetos-realdata, watcher-tempest-functional, watcher-aetos-integration, python-watcherclient-functional

Add regression test for notification lost during synchronization
  watcher/tests/unit/decision_engine/cluster/test_cluster_data_model_collector.py
Due: none

doc: Drop reference to "keystone" CLI
  doc/source/configuration/configuring.rst
Due: none

Extract BaseConnectionMixin for SDK connection setup
  watcher/common/base_helper.py
  watcher/common/keystone_helper.py
  watcher/common/nova_helper.py
  watcher/tests/unit/common/test_base_helper.py
Due: watcher-tempest-gnocchi, watcher-tempest-api-ipv6-only, watcher-grenade, watcher-tempest-prometheus, watcher-tempest-aetos, watcher-tempest-prometheus-realdata, watcher-tempest-prometheus-threading, watcher-tempest-aetos-realdata, watcher-tempest-functional, watcher-aetos-integration

Fix notification updates lost during cluster data model synchronization
  releasenotes/notes/bug-2152645-fix-notification-lost-during-cdm-sync-d8c411727abc6b8a.yaml
  watcher/decision_engine/model/collector/base.py
  watcher/decision_engine/model/notification/base.py
  watcher/decision_engine/model/notification/cinder.py
  watcher/decision_engine/model/notification/nova.py
  watcher/tests/unit/decision_engine/cluster/test_cluster_data_model_collector.py
  watcher/tests/unit/decision_engine/model/notification/test_notifications.py
  watcher/tests/unit/decision_engine/model/notification/test_nova_notifications.py
Due: watcher-tempest-gnocchi, watcher-tempest-api-ipv6-only, watcher-grenade, watcher-tempest-prometheus, watcher-tempest-aetos, watcher-tempest-prometheus-realdata, watcher-tempest-prometheus-threading, watcher-tempest-aetos-realdata, watcher-tempest-functional, watcher-aetos-integration

Add regression test for map_instance reentrant deadlock
  watcher/tests/unit/decision_engine/model/test_model.py
Due: none

Replace global lockutils locks with per-instance RLock
  releasenotes/notes/bug-2152254-fix-model-reentrant-deadlock-08bf366e5f575fb1.yaml
  watcher/decision_engine/model/collector/base.py
  watcher/decision_engine/model/model_root.py
  watcher/tests/unit/decision_engine/model/test_model.py
Due: watcher-tempest-gnocchi, watcher-tempest-api-ipv6-only, watcher-grenade, watcher-tempest-prometheus, watcher-tempest-aetos, watcher-tempest-prometheus-realdata, watcher-tempest-prometheus-threading, watcher-tempest-aetos-realdata, watcher-tempest-functional, watcher-aetos-integration

Enable skipped actions tests on watcher-tempest-base-two-node job
  .zuul.yaml
Due: watcher-tempest-gnocchi, watcher-tempest-api-ipv6-only, watcher-grenade, watcher-tempest-prometheus, watcher-tempest-aetos, watcher-tempest-prometheus-realdata, watcher-tempest-prometheus-threading, watcher-tempest-aetos-realdata, watcher-tempest-functional, watcher-aetos-integration

Remove unused PlacementHelper methods
  watcher/common/placement_helper.py
  watcher/tests/unit/common/test_placement_helper.py
  watcher/tests/unit/decision_engine/cluster/test_nova_cdmc.py
  watcher/tests/unit/decision_engine/model/notification/test_nova_notifications.py
Due: watcher-tempest-gnocchi, watcher-tempest-api-ipv6-only, watcher-grenade, watcher-tempest-prometheus, watcher-tempest-aetos, watcher-tempest-prometheus-realdata, watcher-tempest-prometheus-threading, watcher-tempest-aetos-realdata, watcher-tempest-functional, watcher-aetos-integration

Add host/hypervisor_hostname and created to instances in model
  watcher/common/nova_helper.py
  watcher/decision_engine/model/collector/nova.py
  watcher/decision_engine/model/element/instance.py
  watcher/decision_engine/model/notification/nova.py
  watcher/tests/unit/api/v1/test_data_model.py
  watcher/tests/unit/common/test_nova_helper.py
  watcher/tests/unit/common/utils.py
  watcher/tests/unit/decision_engine/cluster/test_nova_cdmc.py
  watcher/tests/unit/decision_engine/model/data/scenario_1.xml
  watcher/tests/unit/decision_engine/model/faker_cluster_state.py
Due: watcher-tempest-gnocchi, watcher-tempest-api-ipv6-only, watcher-grenade, watcher-tempest-prometheus, watcher-tempest-aetos, watcher-tempest-prometheus-realdata, watcher-tempest-prometheus-threading, watcher-tempest-aetos-realdata, watcher-tempest-functional, watcher-aetos-integration

Remove Nova API calls from zone_migration strategy
  watcher/decision_engine/strategy/strategies/zone_migration.py
  watcher/tests/unit/decision_engine/model/data/scenario_1.xml
  watcher/tests/unit/decision_engine/model/faker_cluster_state.py
  watcher/tests/unit/decision_engine/model/test_model.py
  watcher/tests/unit/decision_engine/strategy/strategies/test_zone_migration.py
Due: watcher-tempest-gnocchi, watcher-tempest-api-ipv6-only, watcher-grenade, watcher-tempest-prometheus, watcher-tempest-aetos, watcher-tempest-prometheus-realdata, watcher-tempest-prometheus-threading, watcher-tempest-aetos-realdata, watcher-tempest-functional, watcher-aetos-integration

Use context manager for lock in collector base
  watcher/decision_engine/model/collector/base.py
Due: watcher-tempest-gnocchi, watcher-tempest-api-ipv6-only, watcher-grenade, watcher-tempest-prometheus, watcher-tempest-aetos, watcher-tempest-prometheus-realdata, watcher-tempest-prometheus-threading, watcher-tempest-aetos-realdata, watcher-tempest-functional, watcher-aetos-integration

Fix LP bug link in releasenote for bug 2152645
  releasenotes/notes/bug-2152645-fix-notification-lost-during-cdm-sync-d8c411727abc6b8a.yaml
Due: none

Enable extra zone migration tests on master branch
  .zuul.yaml
Due: watcher-tempest-gnocchi, watcher-tempest-api-ipv6-only, watcher-grenade, watcher-tempest-prometheus, watcher-tempest-aetos, watcher-tempest-prometheus-realdata, watcher-tempest-prometheus-threading, watcher-tempest-aetos-realdata, watcher-tempest-functional, watcher-aetos-integration

Add Inventory wrapper class for placement data
  watcher/common/placement_helper.py
  watcher/decision_engine/model/collector/nova.py
  watcher/decision_engine/model/notification/nova.py
  watcher/tests/unit/common/test_placement_helper.py
  watcher/tests/unit/common/utils.py
  watcher/tests/unit/decision_engine/cluster/test_nova_cdmc.py
  watcher/tests/unit/decision_engine/model/notification/test_nova_notifications.py
Due: watcher-tempest-gnocchi, watcher-tempest-api-ipv6-only, watcher-grenade, watcher-tempest-prometheus, watcher-tempest-aetos, watcher-tempest-prometheus-realdata, watcher-tempest-prometheus-threading, watcher-tempest-aetos-realdata, watcher-tempest-functional, watcher-aetos-integration

Switch PlacementHelper to OpenStackSDK
  devstack/lib/watcher
  doc/source/configuration/configuring.rst
  releasenotes/notes/placement-openstacksdk-migration-538668b56ef90196.yaml
  watcher/common/placement_helper.py
  watcher/conf/__init__.py
  watcher/conf/placement.py
  watcher/conf/placement_client.py
  watcher/decision_engine/model/collector/nova.py
  watcher/tests/unit/common/test_placement_helper.py
  watcher/tests/unit/common/utils.py
  watcher/tests/unit/decision_engine/cluster/test_nova_cdmc.py
Due: watcher-tempest-gnocchi, watcher-tempest-api-ipv6-only, watcher-grenade, watcher-tempest-prometheus, watcher-tempest-aetos, watcher-tempest-prometheus-realdata, watcher-tempest-prometheus-threading, watcher-tempest-aetos-realdata, watcher-tempest-functional, watcher-aetos-integration

Remove unused placement from OpenStackClients
  watcher/common/clients.py
  watcher/tests/unit/common/test_clients.py
Due: watcher-tempest-gnocchi, watcher-tempest-api-ipv6-only, watcher-grenade, watcher-tempest-prometheus, watcher-tempest-aetos, watcher-tempest-prometheus-realdata, watcher-tempest-prometheus-threading, watcher-tempest-aetos-realdata, watcher-tempest-functional, watcher-aetos-integration

Remove redundant policy_file override
  devstack/lib/watcher
Due: watcher-tempest-gnocchi, watcher-tempest-api-ipv6-only, watcher-grenade, watcher-tempest-prometheus, watcher-tempest-aetos, watcher-tempest-prometheus-realdata, watcher-tempest-prometheus-threading, watcher-tempest-aetos-realdata, watcher-tempest-functional, watcher-aetos-integration

[ci] Increase CI jobs timeouts
  .zuul.yaml
Due: watcher-tempest-gnocchi, watcher-tempest-api-ipv6-only, watcher-grenade, watcher-tempest-prometheus, watcher-tempest-aetos, watcher-tempest-prometheus-realdata, watcher-tempest-prometheus-threading, watcher-tempest-aetos-realdata, watcher-tempest-functional, watcher-aetos-integration

Replace deprecated remotable_classmethod
  requirements.txt
  watcher/objects/action.py
  watcher/objects/action_description.py
  watcher/objects/action_plan.py
  watcher/objects/audit.py
  watcher/objects/audit_template.py
  watcher/objects/base.py
  watcher/objects/efficacy_indicator.py
  watcher/objects/goal.py
  watcher/objects/scoring_engine.py
  watcher/objects/service.py
  watcher/objects/strategy.py
  watcher/tests/unit/objects/test_objects.py
Due: watcher-tempest-gnocchi, watcher-tempest-api-ipv6-only, watcher-grenade, watcher-tempest-prometheus, watcher-tempest-aetos, watcher-tempest-prometheus-realdata, watcher-tempest-prometheus-threading, watcher-tempest-aetos-realdata, watcher-tempest-functional, watcher-aetos-integration

Remove unused CinderHelper methods
  watcher/common/cinder_helper.py
  watcher/tests/unit/common/test_cinder_helper.py
Due: watcher-tempest-gnocchi, watcher-tempest-api-ipv6-only, watcher-grenade, watcher-tempest-prometheus, watcher-tempest-aetos, watcher-tempest-prometheus-realdata, watcher-tempest-prometheus-threading, watcher-tempest-aetos-realdata, watcher-tempest-functional, watcher-aetos-integration

Move test fixtures to local_fixtures directory
  watcher/tests/local_fixtures/__init__.py
  watcher/tests/local_fixtures/conf_fixture.py
  watcher/tests/local_fixtures/db.py
  watcher/tests/local_fixtures/db_lock.py
  watcher/tests/local_fixtures/fake_policy.py
  watcher/tests/local_fixtures/fakes.py
  watcher/tests/local_fixtures/policy_fixture.py
  watcher/tests/local_fixtures/watcher.py
  watcher/tests/unit/base.py
  watcher/tests/unit/cmd/test_decision_engine.py
  watcher/tests/unit/common/test_keystone_helper.py
  watcher/tests/unit/db/base.py
  watcher/tests/unit/decision_engine/cluster/test_cinder_cdmc.py
  watcher/tests/unit/decision_engine/cluster/test_nova_cdmc.py
  watcher/tests/unit/decision_engine/loading/test_collector_loader.py
  watcher/tests/unit/decision_engine/test_scheduling.py
Due: none

Avoid logging messaging transport URLs
  releasenotes/notes/avoid-transport-url-in-debug-logs.yaml
  watcher/common/service.py
  watcher/conf/grafana_client.py
  watcher/conf/maas_client.py
  watcher/tests/unit/common/test_service.py
Due: watcher-tempest-gnocchi, watcher-tempest-api-ipv6-only, watcher-grenade, watcher-tempest-prometheus, watcher-tempest-aetos, watcher-tempest-prometheus-realdata, watcher-tempest-prometheus-threading, watcher-tempest-aetos-realdata, watcher-tempest-functional, watcher-aetos-integration

Avoid logging messaging transport URLs
  releasenotes/notes/avoid-transport-url-in-debug-logs.yaml
  watcher/common/service.py
  watcher/conf/grafana_client.py
  watcher/conf/maas_client.py
  watcher/tests/common/test_service.py
Due: watcher-tempest-gnocchi, watcher-tempest-api-ipv6-only, watcher-grenade, watcher-tempest-prometheus, watcher-tempest-aetos, watcher-tempest-prometheus-realdata, watcher-tempest-prometheus-threading, watcher-tempest-aetos-realdata, watcher-tempest-functional, watcher-aetos-integration

Rename multinode base job to three-node and use three-node nodeset
  .zuul.yaml
Due: watcher-tempest-gnocchi, watcher-tempest-api-ipv6-only, watcher-grenade, watcher-tempest-prometheus, watcher-tempest-aetos, watcher-tempest-prometheus-realdata, watcher-tempest-prometheus-threading, watcher-tempest-aetos-realdata, watcher-tempest-functional, watcher-aetos-integration

[stable-only] Pin Jammy Tempest job inputs
  .zuul.yaml
Due: watcher-tempest-gnocchi, watcher-tempest-api-ipv6-only, watcher-grenade, watcher-tempest-prometheus, watcher-tempest-aetos, watcher-tempest-prometheus-realdata, watcher-tempest-prometheus-threading, watcher-tempest-aetos-realdata, watcher-tempest-functional, watcher-aetos-integration

Add volume_type, created_at and host fields to volumes in model
  watcher/common/cinder_helper.py
  watcher/common/exception.py
  watcher/decision_engine/model/collector/cinder.py
  watcher/decision_engine/model/element/volume.py
  watcher/decision_engine/model/notification/cinder.py
  watcher/tests/unit/common/test_cinder_helper.py
  watcher/tests/unit/decision_engine/cluster/test_cinder_cdmc.py
  watcher/tests/unit/decision_engine/model/data/storage_scenario_1.xml
  watcher/tests/unit/decision_engine/model/faker_cluster_state.py
  watcher/tests/unit/decision_engine/model/notification/data/scenario_1_bootable-volume-create.json
  watcher/tests/unit/decision_engine/model/notification/data/scenario_1_error-volume-create.json
  watcher/tests/unit/decision_engine/model/notification/data/scenario_1_volume-attach.json
  watcher/tests/unit/decision_engine/model/notification/data/scenario_1_volume-create.json
  watcher/tests/unit/decision_engine/model/notification/data/scenario_1_volume-create_pool_notfound.json
  watcher/tests/unit/decision_engine/model/notification/data/scenario_1_volume-delete.json
  watcher/tests/unit/decision_engine/model/notification/data/scenario_1_volume-detach.json
  watcher/tests/unit/decision_engine/model/notification/data/scenario_1_volume-resize.json
  watcher/tests/unit/decision_engine/model/notification/data/scenario_1_volume-update.json
  watcher/tests/unit/decision_engine/model/notification/test_cinder_notifications.py
Due: watcher-tempest-gnocchi, watcher-tempest-api-ipv6-only, watcher-grenade, watcher-tempest-prometheus, watcher-tempest-aetos, watcher-tempest-prometheus-realdata, watcher-tempest-prometheus-threading, watcher-tempest-aetos-realdata, watcher-tempest-functional, watcher-aetos-integration

Remove Cinder API calls from zone_migration strategy
  watcher/decision_engine/strategy/strategies/zone_migration.py
  watcher/tests/unit/decision_engine/strategy/strategies/test_zone_migration.py
Due: watcher-tempest-gnocchi, watcher-tempest-api-ipv6-only, watcher-grenade, watcher-tempest-prometheus, watcher-tempest-aetos, watcher-tempest-prometheus-realdata, watcher-tempest-prometheus-threading, watcher-tempest-aetos-realdata, watcher-tempest-functional, watcher-aetos-integration

Cache node utilization to fix vm_workload_consolidation at scale
  watcher/decision_engine/strategy/strategies/vm_workload_consolidation.py
  watcher/tests/unit/decision_engine/model/data/scenario_2_with_metrics.xml
  watcher/tests/unit/decision_engine/model/data/scenario_3_with_metrics.xml
  watcher/tests/unit/decision_engine/strategy/strategies/test_vm_workload_consolidation.py
Due: watcher-tempest-gnocchi, watcher-tempest-api-ipv6-only, watcher-grenade, watcher-tempest-prometheus, watcher-tempest-aetos, watcher-tempest-prometheus-realdata, watcher-tempest-prometheus-threading, watcher-tempest-aetos-realdata, watcher-tempest-functional, watcher-aetos-integration
