Repository openstack/watcher: changes, and which Zuul jobs are due for each by the changed paths.
All: watcher-tempest-gnocchi, watcher-tempest-api-ipv6-only, watcher-grenade, watcher-tempest-prometheus, watcher-tempest-aetos, watcher-tempest-prometheus-realdata, watcher-tempest-prometheus-threading, watcher-tempest-aetos-realdata, watcher-tempest-functional, watcher-aetos-integration, python-watcherclient-functional

watcher-tempest-gnocchi:
  parent: watcher-tempest-base-two-node
  description: 'Watcher multinode devstack tempest job with Gnocchi as datasource. This
  
    job uses fake metrics injection and does not requires ceilometer-acompute
  
    to be enabled.
  
    '
  vars:
    devstack_localrc:
  ...

watcher-tempest-api-ipv6-only:
  parent: devstack-tempest-ipv6
  description: 'Watcher single node devstack tempest job for IPv6-only deployment.
  
    '
  required-projects:
  - openstack/ceilometer
  - openstack/python-openstackclient
  - openstack/python-watcherclient
  - openstack/watcher
  - openstack/watcher-tempest-plugin
  ...

watcher-grenade:
  parent: grenade
  required-projects:
  - openstack/ceilometer
  - openstack/python-openstackclient
  - openstack/python-watcherclient
  - openstack/watcher
  - openstack/watcher-tempest-plugin
  - openstack/tempest
  vars:
    configure_swap_size: 8192
    devstack_plugins:
  ...

watcher-tempest-prometheus:
  parent: watcher-tempest-base-two-node
  description: 'Watcher multinode devstack tempest job with Prometheus as datasource.
  
    This job uses fake metrics injection and does not require ceilometer-acompute
  
    and node_exporter to be enabled.
  
    '
  pre-run:
  - playbooks/generate_prometheus_config.yml
  ...

watcher-tempest-aetos:
  parent: watcher-tempest-prometheus
  description: 'Watcher multinode devstack tempest job with Aetos reverse-proxy for
  
    Prometheus, using Keystone authentication instead of direct Prometheus access.
  
    This job uses fake metrics injection and does not require ceilometer-acompute
  
  ...

watcher-tempest-prometheus-realdata:
  parent: watcher-tempest-prometheus
  nodeset: openstack-three-node-noble
  description: 'Watcher multinode devstack tempest job with Prometheus as datasource and
  
    real workload data. This job is executed on a three-node setup to have
  
  ...

watcher-tempest-prometheus-threading:
  parent: watcher-tempest-prometheus
  description: 'Watcher multinode devstack tempest job with Prometheus as datasource and
  
    threading mode enabled in specific services.
  
    '
  vars:
    devstack_localrc:
      SYSTEMD_ENV_VARS["watcher-decision-engine"]: OS_WATCHER_DISABLE_EVENTLET_PATCHING=true
  ...

watcher-tempest-aetos-realdata:
  parent: watcher-tempest-aetos
  nodeset: openstack-three-node-noble
  description: 'Watcher multinode devstack tempest job with Aetos reverse-proxy and real
  
    workload data. This job is executed on a three-node setup to have
  
    pure controller and compute nodes and avoid resource competition.
  
    '
  ...

watcher-tempest-functional:
  parent: watcher-tempest-base

watcher-aetos-integration:
  parent: watcher-tempest-aetos

Fix flaky test_do_while_futures_modify_timeout unit test
  watcher/tests/unit/test_threading.py
Due: none

Add dataclass wrappers for CinderHelper API objects
  watcher/applier/actions/volume_migration.py
  watcher/common/cinder_helper.py
  watcher/common/exception.py
  watcher/decision_engine/model/collector/cinder.py
  watcher/decision_engine/strategy/strategies/storage_capacity_balance.py
  watcher/tests/unit/applier/actions/test_volume_migration.py
  watcher/tests/unit/common/test_cinder_helper.py
  watcher/tests/unit/common/utils.py
  watcher/tests/unit/decision_engine/cluster/test_cinder_cdmc.py
  watcher/tests/unit/decision_engine/strategy/strategies/test_storage_capacity_balance.py
  watcher/tests/unit/decision_engine/strategy/strategies/test_zone_migration.py
Due: watcher-tempest-gnocchi, watcher-tempest-api-ipv6-only, watcher-grenade, watcher-tempest-prometheus, watcher-tempest-aetos, watcher-tempest-prometheus-realdata, watcher-tempest-prometheus-threading, watcher-tempest-aetos-realdata, watcher-tempest-functional, watcher-aetos-integration

Add default_parameters support to Audit Templates
  api-ref/source/parameters.yaml
  api-ref/source/samples/audittemplate-create-request-full.json
  api-ref/source/samples/audittemplate-create-response.json
  api-ref/source/samples/audittemplate-list-detailed-response.json
  api-ref/source/samples/audittemplate-show-response.json
  api-ref/source/samples/audittemplate-update-response.json
  api-ref/source/watcher-api-v1-audits.inc
  api-ref/source/watcher-api-v1-audittemplates.inc
  devstack/lib/watcher
  doc/source/user/user-guide.rst
  releasenotes/notes/audit-template-default-parameters-316212e7a0f08083.yaml
  watcher/api/controllers/rest_api_version_history.rst
  watcher/api/controllers/v1/audit.py
  watcher/api/controllers/v1/audit_template.py
  watcher/api/controllers/v1/utils.py
  watcher/api/controllers/v1/versions.py
  watcher/db/sqlalchemy/alembic/versions/f56ba02662b4_add_default_parameters_to_audit_templates.py
  watcher/db/sqlalchemy/models.py
  watcher/objects/audit_template.py
  watcher/tests/unit/api/v1/test_audit_templates.py
  watcher/tests/unit/api/v1/test_audits.py
  watcher/tests/unit/api/v1/test_data_model.py
  watcher/tests/unit/db/test_audit_template.py
  watcher/tests/unit/db/test_migrations.py
  watcher/tests/unit/db/utils.py
  watcher/tests/unit/objects/test_audit_template.py
  watcher/tests/unit/objects/test_objects.py
Due: watcher-tempest-gnocchi, watcher-tempest-api-ipv6-only, watcher-grenade, watcher-tempest-prometheus, watcher-tempest-aetos, watcher-tempest-prometheus-realdata, watcher-tempest-prometheus-threading, watcher-tempest-aetos-realdata, watcher-tempest-functional, watcher-aetos-integration, python-watcherclient-functional

Replace python-cinderclient with openstacksdk
  devstack/lib/watcher
  doc/source/configuration/configuring.rst
  releasenotes/notes/cinderclient-openstacksdk-migration-05ec7aaef6795584.yaml
  watcher/applier/actions/change_nova_service_state.py
  watcher/applier/actions/migration.py
  watcher/applier/actions/resize.py
  watcher/applier/actions/stop.py
  watcher/applier/actions/volume_migration.py
  watcher/common/cinder_helper.py
  watcher/common/nova_helper.py
  watcher/conf/__init__.py
  watcher/conf/cinder.py
  watcher/conf/cinder_client.py
  watcher/decision_engine/model/collector/cinder.py
  watcher/decision_engine/model/collector/nova.py
  watcher/decision_engine/model/notification/cinder.py
  watcher/decision_engine/planner/workload_stabilization.py
  watcher/decision_engine/scope/compute.py
  watcher/decision_engine/scope/storage.py
  watcher/decision_engine/strategy/strategies/storage_capacity_balance.py
  watcher/tests/unit/applier/actions/test_change_nova_service_state.py
  watcher/tests/unit/applier/actions/test_migration.py
  watcher/tests/unit/common/test_cinder_helper.py
  watcher/tests/unit/common/utils.py
  watcher/tests/unit/decision_engine/cluster/test_cinder_cdmc.py
  watcher/tests/unit/decision_engine/model/notification/test_cinder_notifications.py
  watcher/tests/unit/decision_engine/scope/test_storage.py
  watcher/tests/unit/decision_engine/strategy/strategies/test_storage_capacity_balance.py
Due: watcher-tempest-gnocchi, watcher-tempest-api-ipv6-only, watcher-grenade, watcher-tempest-prometheus, watcher-tempest-aetos, watcher-tempest-prometheus-realdata, watcher-tempest-prometheus-threading, watcher-tempest-aetos-realdata, watcher-tempest-functional, watcher-aetos-integration

Remove python-cinderclient dependency
  releasenotes/notes/cinderclient-openstacksdk-migration-05ec7aaef6795584.yaml
  requirements.txt
  watcher/common/clients.py
  watcher/decision_engine/model/collector/cinder.py
  watcher/tests/unit/common/test_clients.py
  watcher/tests/unit/common/test_nova_helper.py
Due: watcher-tempest-gnocchi, watcher-tempest-api-ipv6-only, watcher-grenade, watcher-tempest-prometheus, watcher-tempest-aetos, watcher-tempest-prometheus-realdata, watcher-tempest-prometheus-threading, watcher-tempest-aetos-realdata, watcher-tempest-functional, watcher-aetos-integration

cinder: Fix wrong override of project_domain_id
  watcher/decision_engine/model/notification/cinder.py
Due: watcher-tempest-gnocchi, watcher-tempest-api-ipv6-only, watcher-grenade, watcher-tempest-prometheus, watcher-tempest-aetos, watcher-tempest-prometheus-realdata, watcher-tempest-prometheus-threading, watcher-tempest-aetos-realdata, watcher-tempest-functional, watcher-aetos-integration

Use built-in method to build RequestContext
  watcher/api/hooks.py
  watcher/common/context.py
  watcher/tests/unit/api/base.py
  watcher/tests/unit/api/test_hooks.py
  watcher/tests/unit/base.py
  watcher/tests/unit/common/test_clients.py
  watcher/tests/unit/objects/test_objects.py
Due: watcher-tempest-gnocchi, watcher-tempest-api-ipv6-only, watcher-grenade, watcher-tempest-prometheus, watcher-tempest-aetos, watcher-tempest-prometheus-realdata, watcher-tempest-prometheus-threading, watcher-tempest-aetos-realdata, watcher-tempest-functional, watcher-aetos-integration, python-watcherclient-functional

Make Watcher reproducible
  watcher/applier/workflow_engine/default.py
  watcher/conf/service.py
Due: watcher-tempest-gnocchi, watcher-tempest-api-ipv6-only, watcher-grenade, watcher-tempest-prometheus, watcher-tempest-aetos, watcher-tempest-prometheus-realdata, watcher-tempest-prometheus-threading, watcher-tempest-aetos-realdata, watcher-tempest-functional, watcher-aetos-integration

Drop own check for LOG.warn
  tox.ini
  watcher/hacking/checks.py
Due: none

Add node resource allocation cache to ModelRoot
  releasenotes/notes/add-node-allocations-cache-18e463fec3f2203d.yaml
  watcher/decision_engine/model/model_root.py
  watcher/decision_engine/model/notification/nova.py
  watcher/decision_engine/strategy/strategies/base.py
  watcher/tests/unit/decision_engine/model/notification/test_nova_notifications.py
  watcher/tests/unit/decision_engine/model/test_model.py
Due: watcher-tempest-gnocchi, watcher-tempest-api-ipv6-only, watcher-grenade, watcher-tempest-prometheus, watcher-tempest-aetos, watcher-tempest-prometheus-realdata, watcher-tempest-prometheus-threading, watcher-tempest-aetos-realdata, watcher-tempest-functional, watcher-aetos-integration

Add allocation-based capacity checks to vm_workload_consolidation
  releasenotes/notes/bug-2156473-allocation-based-capacity-checks-vm-consolidation.yaml
  watcher/decision_engine/strategy/strategies/vm_workload_consolidation.py
  watcher/tests/unit/decision_engine/strategy/strategies/test_vm_workload_consolidation.py
Due: watcher-tempest-gnocchi, watcher-tempest-api-ipv6-only, watcher-grenade, watcher-tempest-prometheus, watcher-tempest-aetos, watcher-tempest-prometheus-realdata, watcher-tempest-prometheus-threading, watcher-tempest-aetos-realdata, watcher-tempest-functional, watcher-aetos-integration

Add strategy as filter on /v1/audits/detail endpoint
  releasenotes/notes/bug-2162057-add-strategy-filter-audit-detail-b98e11d30285a618.yaml
  watcher/api/controllers/v1/audit.py
  watcher/tests/unit/api/v1/test_audits.py
Due: watcher-tempest-gnocchi, watcher-tempest-api-ipv6-only, watcher-grenade, watcher-tempest-prometheus, watcher-tempest-aetos, watcher-tempest-prometheus-realdata, watcher-tempest-prometheus-threading, watcher-tempest-aetos-realdata, watcher-tempest-functional, watcher-aetos-integration, python-watcherclient-functional

Use real objects in volume migration tests
  watcher/tests/unit/applier/actions/test_volume_migration.py
Due: none

Fix race condition in DefaultLoader._reload_config()
  watcher/common/loader/default.py
Due: watcher-tempest-gnocchi, watcher-tempest-api-ipv6-only, watcher-grenade, watcher-tempest-prometheus, watcher-tempest-aetos, watcher-tempest-prometheus-realdata, watcher-tempest-prometheus-threading, watcher-tempest-aetos-realdata, watcher-tempest-functional, watcher-aetos-integration

Remove unused osc parameter from scope and builder classes
  watcher/applier/actions/volume_migration.py
  watcher/decision_engine/model/collector/cinder.py
  watcher/decision_engine/model/collector/ironic.py
  watcher/decision_engine/model/collector/nova.py
  watcher/decision_engine/scope/baremetal.py
  watcher/decision_engine/scope/compute.py
  watcher/decision_engine/scope/storage.py
  watcher/tests/unit/decision_engine/cluster/test_nova_cdmc.py
  watcher/tests/unit/decision_engine/model/faker_cluster_and_metrics.py
  watcher/tests/unit/decision_engine/model/faker_cluster_state.py
  watcher/tests/unit/decision_engine/scope/test_baremetal.py
  watcher/tests/unit/decision_engine/scope/test_compute.py
  watcher/tests/unit/decision_engine/scope/test_storage.py
Due: watcher-tempest-gnocchi, watcher-tempest-api-ipv6-only, watcher-grenade, watcher-tempest-prometheus, watcher-tempest-aetos, watcher-tempest-prometheus-realdata, watcher-tempest-prometheus-threading, watcher-tempest-aetos-realdata, watcher-tempest-functional, watcher-aetos-integration

Add functional test framework for Watcher
  .zuul.yaml
  doc/source/contributor/testing.rst
  test-requirements.txt
  tox.ini
  watcher/tests/base.py
  watcher/tests/functional/__init__.py
  watcher/tests/functional/api/__init__.py
  watcher/tests/functional/api/client.py
  watcher/tests/functional/base.py
  watcher/tests/functional/gabbi_fixture.py
  watcher/tests/functional/gabbits/audit-lifecycle-failed.yaml
  watcher/tests/functional/gabbits/audit-lifecycle-skip-action.yaml
  watcher/tests/functional/gabbits/audit-lifecycle.yaml
  watcher/tests/functional/test_basic.py
  watcher/tests/functional/test_gabbi.py
  watcher/tests/local_fixtures/api.py
  watcher/tests/local_fixtures/cast_as_call.py
  watcher/tests/local_fixtures/rpc.py
  watcher/tests/local_fixtures/service.py
  watcher/tests/unit/base.py
Due: watcher-tempest-gnocchi, watcher-tempest-api-ipv6-only, watcher-grenade, watcher-tempest-prometheus, watcher-tempest-aetos, watcher-tempest-prometheus-realdata, watcher-tempest-prometheus-threading, watcher-tempest-aetos-realdata, watcher-tempest-functional, watcher-aetos-integration

devstack: Use common function to manage watcher_clients_auth options
  devstack/lib/watcher
Due: watcher-tempest-gnocchi, watcher-tempest-api-ipv6-only, watcher-grenade, watcher-tempest-prometheus, watcher-tempest-aetos, watcher-tempest-prometheus-realdata, watcher-tempest-prometheus-threading, watcher-tempest-aetos-realdata, watcher-tempest-functional, watcher-aetos-integration

devstack: Configure tempest options only when enabled
  devstack/lib/watcher
Due: watcher-tempest-gnocchi, watcher-tempest-api-ipv6-only, watcher-grenade, watcher-tempest-prometheus, watcher-tempest-aetos, watcher-tempest-prometheus-realdata, watcher-tempest-prometheus-threading, watcher-tempest-aetos-realdata, watcher-tempest-functional, watcher-aetos-integration

Replace old operating system versions in install guide
  doc/source/admin/apache-mod-wsgi.rst
  doc/source/install/install-rdo.rst
  doc/source/user/ways-to-install.rst
Due: none

Add MetricDataCache and integrate it into DataSourceBase
  doc/source/datasources/aetos.rst
  doc/source/datasources/index.rst
  doc/source/datasources/prometheus.rst
  requirements.txt
  watcher/decision_engine/datasources/base.py
  watcher/decision_engine/datasources/cache.py
  watcher/decision_engine/datasources/gnocchi.py
  watcher/decision_engine/datasources/grafana.py
  watcher/decision_engine/datasources/prometheus_base.py
  watcher/decision_engine/strategy/strategies/workload_stabilization.py
  watcher/tests/unit/decision_engine/datasources/test_base.py
  watcher/tests/unit/decision_engine/datasources/test_cache.py
  watcher/tests/unit/decision_engine/datasources/test_gnocchi_helper.py
  watcher/tests/unit/decision_engine/datasources/test_grafana_helper.py
  watcher/tests/unit/decision_engine/datasources/test_prometheus_base.py
Due: watcher-tempest-gnocchi, watcher-tempest-api-ipv6-only, watcher-grenade, watcher-tempest-prometheus, watcher-tempest-aetos, watcher-tempest-prometheus-realdata, watcher-tempest-prometheus-threading, watcher-tempest-aetos-realdata, watcher-tempest-functional, watcher-aetos-integration

Fix allowed_nodes corruption in ComputeScope
  releasenotes/notes/bug-1988981-fix-audit-scope-azs-76a7f9bd5065a841.yaml
  watcher/decision_engine/scope/compute.py
  watcher/tests/unit/decision_engine/scope/test_compute.py
Due: watcher-tempest-gnocchi, watcher-tempest-api-ipv6-only, watcher-grenade, watcher-tempest-prometheus, watcher-tempest-aetos, watcher-tempest-prometheus-realdata, watcher-tempest-prometheus-threading, watcher-tempest-aetos-realdata, watcher-tempest-functional, watcher-aetos-integration

Add Nova/Placement emulators and host_maintenance functional tests
  doc/source/contributor/testing.rst
  test-requirements.txt
  watcher/tests/functional/base.py
  watcher/tests/functional/gabbi_fixture.py
  watcher/tests/functional/gabbits/audit-lifecycle-failed.yaml
  watcher/tests/functional/gabbits/host-maintenance.yaml
  watcher/tests/functional/test_host_maintenance.py
  watcher/tests/functional/test_host_maintenance_scoped.py
  watcher/tests/functional/test_nova_model.py
  watcher/tests/functional/topology.py
  watcher/tests/local_fixtures/base_emulator.py
  watcher/tests/local_fixtures/nova.py
  watcher/tests/local_fixtures/nova_api_emulator.py
  watcher/tests/local_fixtures/placement_api_emulator.py
  watcher/tests/local_fixtures/sample_topology.json
  watcher/tests/local_fixtures/service.py
Due: none

Add policy enforcement to webhook trigger endpoint
  releasenotes/notes/bug-2161771-add-policy-enforcement-event-audit-596288dbff87bd0d.yaml
  watcher/api/controllers/v1/webhooks.py
  watcher/common/policies/__init__.py
  watcher/common/policies/webhooks.py
  watcher/tests/local_fixtures/fake_policy.py
  watcher/tests/unit/api/v1/test_webhooks.py
Due: watcher-tempest-gnocchi, watcher-tempest-api-ipv6-only, watcher-grenade, watcher-tempest-prometheus, watcher-tempest-aetos, watcher-tempest-prometheus-realdata, watcher-tempest-prometheus-threading, watcher-tempest-aetos-realdata, watcher-tempest-functional, watcher-aetos-integration, python-watcherclient-functional

Add policy enforcement to webhook trigger endpoint
  releasenotes/notes/bug-2161771-add-policy-enforcement-event-audit-596288dbff87bd0d.yaml
  watcher/api/controllers/v1/webhooks.py
  watcher/common/policies/__init__.py
  watcher/common/policies/webhooks.py
  watcher/tests/fixtures/fake_policy.py
  watcher/tests/unit/api/v1/test_webhooks.py
Due: watcher-tempest-gnocchi, watcher-tempest-api-ipv6-only, watcher-grenade, watcher-tempest-prometheus, watcher-tempest-aetos, watcher-tempest-prometheus-realdata, watcher-tempest-prometheus-threading, watcher-tempest-aetos-realdata, watcher-tempest-functional, watcher-aetos-integration, python-watcherclient-functional

Add policy enforcement to webhook trigger endpoint
  releasenotes/notes/bug-2161771-add-policy-enforcement-event-audit-596288dbff87bd0d.yaml
  watcher/api/controllers/v1/webhooks.py
  watcher/common/policies/__init__.py
  watcher/common/policies/webhooks.py
  watcher/tests/api/v1/test_webhooks.py
  watcher/tests/fake_policy.py
Due: watcher-tempest-gnocchi, watcher-tempest-api-ipv6-only, watcher-grenade, watcher-tempest-prometheus, watcher-tempest-aetos, watcher-tempest-prometheus-realdata, watcher-tempest-prometheus-threading, watcher-tempest-aetos-realdata, watcher-tempest-functional, watcher-aetos-integration, python-watcherclient-functional

Add policy enforcement to webhook trigger endpoint
  releasenotes/notes/bug-2161771-add-policy-enforcement-event-audit-596288dbff87bd0d.yaml
  test-requirements.txt
  watcher/api/controllers/v1/webhooks.py
  watcher/common/policies/__init__.py
  watcher/common/policies/webhooks.py
  watcher/tests/api/v1/test_webhooks.py
  watcher/tests/fake_policy.py
Due: watcher-tempest-gnocchi, watcher-tempest-api-ipv6-only, watcher-grenade, watcher-tempest-prometheus, watcher-tempest-aetos, watcher-tempest-prometheus-realdata, watcher-tempest-prometheus-threading, watcher-tempest-aetos-realdata, watcher-tempest-functional, watcher-aetos-integration, python-watcherclient-functional

Fix allowed_nodes corruption in ComputeScope
  releasenotes/notes/bug-1988981-fix-audit-scope-azs-76a7f9bd5065a841.yaml
  watcher/decision_engine/scope/compute.py
  watcher/tests/decision_engine/scope/test_compute.py
Due: watcher-tempest-gnocchi, watcher-tempest-api-ipv6-only, watcher-grenade, watcher-tempest-prometheus, watcher-tempest-aetos, watcher-tempest-prometheus-realdata, watcher-tempest-prometheus-threading, watcher-tempest-aetos-realdata, watcher-tempest-functional, watcher-aetos-integration

Add metric query methods to BaseStrategy
  watcher/decision_engine/strategy/strategies/base.py
  watcher/decision_engine/strategy/strategies/basic_consolidation.py
  watcher/decision_engine/strategy/strategies/noisy_neighbor.py
  watcher/decision_engine/strategy/strategies/outlet_temp_control.py
  watcher/decision_engine/strategy/strategies/uniform_airflow.py
  watcher/decision_engine/strategy/strategies/vm_workload_consolidation.py
  watcher/decision_engine/strategy/strategies/workload_balance.py
  watcher/decision_engine/strategy/strategies/workload_stabilization.py
  watcher/tests/unit/decision_engine/strategy/strategies/test_base.py
  watcher/tests/unit/decision_engine/strategy/strategies/test_basic_consolidation.py
  watcher/tests/unit/decision_engine/strategy/strategies/test_noisy_neighbor.py
  watcher/tests/unit/decision_engine/strategy/strategies/test_outlet_temp_control.py
  watcher/tests/unit/decision_engine/strategy/strategies/test_uniform_airflow.py
  watcher/tests/unit/decision_engine/strategy/strategies/test_vm_workload_consolidation.py
  watcher/tests/unit/decision_engine/strategy/strategies/test_workload_balance.py
  watcher/tests/unit/decision_engine/strategy/strategies/test_workload_stabilization.py
Due: watcher-tempest-gnocchi, watcher-tempest-api-ipv6-only, watcher-grenade, watcher-tempest-prometheus, watcher-tempest-aetos, watcher-tempest-prometheus-realdata, watcher-tempest-prometheus-threading, watcher-tempest-aetos-realdata, watcher-tempest-functional, watcher-aetos-integration

zuul: Drop redundant override of cinder option
  .zuul.yaml
Due: watcher-tempest-gnocchi, watcher-tempest-api-ipv6-only, watcher-grenade, watcher-tempest-prometheus, watcher-tempest-aetos, watcher-tempest-prometheus-realdata, watcher-tempest-prometheus-threading, watcher-tempest-aetos-realdata, watcher-tempest-functional, watcher-aetos-integration

Do not skip tempest tests for requirements update
  .zuul.yaml
Due: watcher-tempest-gnocchi, watcher-tempest-api-ipv6-only, watcher-grenade, watcher-tempest-prometheus, watcher-tempest-aetos, watcher-tempest-prometheus-realdata, watcher-tempest-prometheus-threading, watcher-tempest-aetos-realdata, watcher-tempest-functional, watcher-aetos-integration

Drop PasteDeploy
  requirements.txt
Due: none

Fix strategies not honoring audit scope exclusions
  releasenotes/notes/fix-strategies-audit-scope-exclusion-4c2b7f1a9d6e0a3b.yaml
  watcher/decision_engine/strategy/strategies/host_maintenance.py
  watcher/decision_engine/strategy/strategies/node_resource_consolidation.py
  watcher/decision_engine/strategy/strategies/zone_migration.py
  watcher/tests/functional/test_host_maintenance_scoped.py
  watcher/tests/unit/decision_engine/strategy/strategies/test_host_maintenance.py
  watcher/tests/unit/decision_engine/strategy/strategies/test_node_resource_consolidation.py
  watcher/tests/unit/decision_engine/strategy/strategies/test_zone_migration.py
Due: watcher-tempest-gnocchi, watcher-tempest-api-ipv6-only, watcher-grenade, watcher-tempest-prometheus, watcher-tempest-aetos, watcher-tempest-prometheus-realdata, watcher-tempest-prometheus-threading, watcher-tempest-aetos-realdata, watcher-tempest-functional, watcher-aetos-integration

Migrate package metadata to pyproject.toml
  pyproject.toml
  setup.cfg
Due: watcher-tempest-gnocchi, watcher-tempest-api-ipv6-only, watcher-grenade, watcher-tempest-prometheus, watcher-tempest-aetos, watcher-tempest-prometheus-realdata, watcher-tempest-prometheus-threading, watcher-tempest-aetos-realdata, watcher-tempest-functional, watcher-aetos-integration

Add new delete and shelve actions
  .zuul.yaml
  doc/source/actions/delete.rst
  doc/source/actions/index.rst
  doc/source/actions/shelve.rst
  pyproject.toml
  releasenotes/notes/actions-delete-and-shelve-383ab53d622cca49.yaml
  watcher/applier/actions/delete.py
  watcher/applier/actions/shelve.py
  watcher/common/nova_helper.py
  watcher/conf/nova.py
  watcher/decision_engine/planner/weight.py
  watcher/tests/unit/applier/actions/test_delete.py
  watcher/tests/unit/applier/actions/test_shelve.py
  watcher/tests/unit/common/test_nova_helper.py
Due: watcher-tempest-gnocchi, watcher-tempest-api-ipv6-only, watcher-grenade, watcher-tempest-prometheus, watcher-tempest-aetos, watcher-tempest-prometheus-realdata, watcher-tempest-prometheus-threading, watcher-tempest-aetos-realdata, watcher-tempest-functional, watcher-aetos-integration

Add Hibiscus (2026.2) release note prelude
  releasenotes/notes/2026.2-prelude-f539788e6f02552d.yaml
Due: none

Path conditions:
  watcher-tempest-gnocchi: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^watcher/hacking/.*$, ^watcher/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  watcher-tempest-api-ipv6-only: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^watcher/hacking/.*$, ^watcher/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  watcher-grenade: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^watcher/hacking/.*$, ^watcher/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  watcher-tempest-prometheus: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^watcher/hacking/.*$, ^watcher/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  watcher-tempest-aetos: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^watcher/hacking/.*$, ^watcher/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  watcher-tempest-prometheus-realdata: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^watcher/hacking/.*$, ^watcher/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  watcher-tempest-prometheus-threading: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^watcher/hacking/.*$, ^watcher/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  watcher-tempest-aetos-realdata: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^watcher/hacking/.*$, ^watcher/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  watcher-tempest-functional: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^watcher/hacking/.*$, ^watcher/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  watcher-aetos-integration: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^watcher/hacking/.*$, ^watcher/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  python-watcherclient-functional: any of: ^watcher/api/*
