Repository openstack/watcher: changes, and which Zuul jobs are due for each by the changed paths.
All: watcher-grenade, watcher-prometheus-integration, watcher-aetos-integration, watcher-prometheus-integration-realdata, watcher-prometheus-integration-threading, watcher-aetos-integration-realdata, python-watcherclient-functional

Path conditions:
  watcher-grenade: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^watcher/hacking/.*$, ^watcher/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  watcher-prometheus-integration: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^watcher/hacking/.*$, ^watcher/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  watcher-aetos-integration: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^watcher/hacking/.*$, ^watcher/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  watcher-prometheus-integration-realdata: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^watcher/hacking/.*$, ^watcher/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  watcher-prometheus-integration-threading: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^watcher/hacking/.*$, ^watcher/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  watcher-aetos-integration-realdata: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^watcher/hacking/.*$, ^watcher/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  python-watcherclient-functional: any of: ^watcher/api/*

adopt ruff check
  .pre-commit-config.yaml
  pyproject.toml
  releasenotes/source/conf.py
  watcher/api/app.wsgi
  watcher/tests/common/test_utils.py
  watcher/tests/decision_engine/model/faker_cluster_state.py
  watcher/tests/decision_engine/model/notification/test_cinder_notifications.py
Due: watcher-grenade, watcher-prometheus-integration, watcher-aetos-integration, watcher-prometheus-integration-realdata, watcher-prometheus-integration-threading, watcher-aetos-integration-realdata, python-watcherclient-functional

Fix E402 violations and enable additional ruff checks
  pyproject.toml
  watcher/db/sqlalchemy/alembic/script.py.mako
  watcher/db/sqlalchemy/alembic/versions/15f7375ca737_change_efficiacy_indicator_decimals.py
  watcher/db/sqlalchemy/alembic/versions/3cfc94cecf4e_add_name_for_audit.py
  watcher/db/sqlalchemy/alembic/versions/4b16194c56bc_add_start_end_time.py
  watcher/db/sqlalchemy/alembic/versions/52804f2498c4_add_hostname.py
  watcher/db/sqlalchemy/alembic/versions/609bec748f2a_add_force_field.py
  watcher/db/sqlalchemy/alembic/versions/7150a7d8f228_add_status_message_to_actionplan.py
  watcher/db/sqlalchemy/alembic/versions/a86240e89a29_.py
Due: watcher-grenade, watcher-prometheus-integration, watcher-aetos-integration, watcher-prometheus-integration-realdata, watcher-prometheus-integration-threading, watcher-aetos-integration-realdata

Remove unused glance client integration
  releasenotes/notes/remove-glance-client-Yjk5ZDNh.yaml
  requirements.txt
  watcher/common/clients.py
  watcher/common/nova_helper.py
  watcher/common/service.py
  watcher/conf/__init__.py
  watcher/conf/glance_client.py
  watcher/tests/common/test_clients.py
  watcher/tests/common/test_nova_helper.py
  watcher/tests/conf/test_list_opts.py
Due: watcher-grenade, watcher-prometheus-integration, watcher-aetos-integration, watcher-prometheus-integration-realdata, watcher-prometheus-integration-threading, watcher-aetos-integration-realdata

Remove dead neutron client code
  releasenotes/notes/remove-neutron-client-42431931f1fe48a2.yaml
  requirements.txt
  watcher/common/clients.py
  watcher/common/nova_helper.py
  watcher/conf/__init__.py
  watcher/conf/neutron_client.py
  watcher/tests/common/test_clients.py
  watcher/tests/common/test_nova_helper.py
Due: watcher-grenade, watcher-prometheus-integration, watcher-aetos-integration, watcher-prometheus-integration-realdata, watcher-prometheus-integration-threading, watcher-aetos-integration-realdata

Remove dead NovaHelper methods
  releasenotes/notes/remove-dead-nova-helper-methods-62125e08.yaml
  watcher/common/nova_helper.py
  watcher/tests/common/test_nova_helper.py
Due: watcher-grenade, watcher-prometheus-integration, watcher-aetos-integration, watcher-prometheus-integration-realdata, watcher-prometheus-integration-threading, watcher-aetos-integration-realdata

Add some debug logs to storage model
  watcher/decision_engine/model/model_root.py
  watcher/decision_engine/model/notification/cinder.py
Due: watcher-grenade, watcher-prometheus-integration, watcher-aetos-integration, watcher-prometheus-integration-realdata, watcher-prometheus-integration-threading, watcher-aetos-integration-realdata

Migrate bandit options to pyproject.toml
  .pre-commit-config.yaml
  pyproject.toml
Due: watcher-grenade, watcher-prometheus-integration, watcher-aetos-integration, watcher-prometheus-integration-realdata, watcher-prometheus-integration-threading, watcher-aetos-integration-realdata

Use config validation for prometheus options
  watcher/conf/prometheus_client.py
  watcher/decision_engine/datasources/prometheus.py
  watcher/tests/decision_engine/datasources/test_prometheus_helper.py
Due: watcher-grenade, watcher-prometheus-integration, watcher-aetos-integration, watcher-prometheus-integration-realdata, watcher-prometheus-integration-threading, watcher-aetos-integration-realdata

Add second instance of watcher-decision-engine in the compute node
  .zuul.yaml
Due: watcher-grenade, watcher-prometheus-integration, watcher-aetos-integration, watcher-prometheus-integration-realdata, watcher-prometheus-integration-threading, watcher-aetos-integration-realdata

reno: Update master for unmaintained/2024.1
  releasenotes/source/2024.1.rst
Due: none

Fix zone migration to accept dst_pool or dst_type
  releasenotes/notes/zone_migration_schema_change-92a9ec8631870c84.yaml
  watcher/decision_engine/strategy/strategies/zone_migration.py
  watcher/tests/api/v1/test_audits.py
Due: watcher-grenade, watcher-prometheus-integration, watcher-aetos-integration, watcher-prometheus-integration-realdata, watcher-prometheus-integration-threading, watcher-aetos-integration-realdata

ruff: Use more specific name to enable pyupgrade rule
  pyproject.toml
Due: watcher-grenade, watcher-prometheus-integration, watcher-aetos-integration, watcher-prometheus-integration-realdata, watcher-prometheus-integration-threading, watcher-aetos-integration-realdata

use the correct package name for microversion-parse
  requirements.txt
Due: none

[DB] adopt the AdHocDbFixture from oslo
  watcher/tests/db/base.py
Due: none

Disable eventlet patching for api service in threading job
  .zuul.yaml
Due: watcher-grenade, watcher-prometheus-integration, watcher-aetos-integration, watcher-prometheus-integration-realdata, watcher-prometheus-integration-threading, watcher-aetos-integration-realdata

Consolidate and improve Zuul CI job definitions
  .zuul.yaml
Due: watcher-grenade, watcher-prometheus-integration, watcher-aetos-integration, watcher-prometheus-integration-realdata, watcher-prometheus-integration-threading, watcher-aetos-integration-realdata

APISchedulingService migrate audits also on first discovery of services
  releasenotes/notes/bug-2127777-7f512e63e087da91.yaml
  watcher/api/scheduling.py
  watcher/tests/api/test_scheduling.py
Due: watcher-grenade, watcher-prometheus-integration, watcher-aetos-integration, watcher-prometheus-integration-realdata, watcher-prometheus-integration-threading, watcher-aetos-integration-realdata, python-watcherclient-functional

Move decision-engine monitoring service to the decision-engine
  releasenotes/notes/bug-2126767-d0a2911d1e046805.yaml
  watcher/cmd/eventlet/api.py
  watcher/decision_engine/service.py
  watcher/decision_engine/service_monitor.py
  watcher/tests/api/test_scheduling.py
  watcher/tests/decision_engine/test_service.py
  watcher/tests/decision_engine/test_service_monitor.py
Due: watcher-grenade, watcher-prometheus-integration, watcher-aetos-integration, watcher-prometheus-integration-realdata, watcher-prometheus-integration-threading, watcher-aetos-integration-realdata

Make VM migrations timeout configurable and apply reasonable defaults
  .zuul.yaml
  releasenotes/notes/bug-2131663-b486d36f77d13a5d.yaml
  watcher/common/nova_helper.py
  watcher/conf/__init__.py
  watcher/conf/nova.py
  watcher/tests/base.py
  watcher/tests/common/test_nova_helper.py
Due: watcher-grenade, watcher-prometheus-integration, watcher-aetos-integration, watcher-prometheus-integration-realdata, watcher-prometheus-integration-threading, watcher-aetos-integration-realdata

Make VM resize timeout configurable with migration defaults
  releasenotes/notes/resize-timeout-0f6ede6ec9b644b7.yaml
  watcher/common/nova_helper.py
  watcher/tests/common/test_nova_helper.py
Due: watcher-grenade, watcher-prometheus-integration, watcher-aetos-integration, watcher-prometheus-integration-realdata, watcher-prometheus-integration-threading, watcher-aetos-integration-realdata

Add documentation section for actions
  doc/source/actions/change_node_power_state.rst
  doc/source/actions/change_nova_service_state.rst
  doc/source/actions/index.rst
  doc/source/actions/migrate.rst
  doc/source/actions/nop.rst
  doc/source/actions/resize.rst
  doc/source/actions/sleep.rst
  doc/source/actions/stop.rst
  doc/source/actions/volume_migration.rst
  doc/source/admin/index.rst
Due: none

Remove url tags from README
  README.rst
Due: none

Enable extra zone migration tests on master branch
  .zuul.yaml
Due: watcher-grenade, watcher-prometheus-integration, watcher-aetos-integration, watcher-prometheus-integration-realdata, watcher-prometheus-integration-threading, watcher-aetos-integration-realdata

Add option to filter action plans by hostname from db connection
  watcher/db/sqlalchemy/api.py
  watcher/tests/db/test_action_plan.py
Due: watcher-grenade, watcher-prometheus-integration, watcher-aetos-integration, watcher-prometheus-integration-realdata, watcher-prometheus-integration-threading, watcher-aetos-integration-realdata

ruff: Enable E5 check
  pyproject.toml
Due: watcher-grenade, watcher-prometheus-integration, watcher-aetos-integration, watcher-prometheus-integration-realdata, watcher-prometheus-integration-threading, watcher-aetos-integration-realdata

Skip migrate actions in pre_condition phase
  doc/source/actions/migrate.rst
  releasenotes/notes/migration-precondition-check-ff55be4.yaml
  watcher/applier/actions/migration.py
  watcher/tests/applier/actions/test_migration.py
Due: watcher-grenade, watcher-prometheus-integration, watcher-aetos-integration, watcher-prometheus-integration-realdata, watcher-prometheus-integration-threading, watcher-aetos-integration-realdata

[stable-only] Consolidate and improve Zuul CI job definitions
  .zuul.yaml
Due: watcher-grenade, watcher-prometheus-integration, watcher-aetos-integration, watcher-prometheus-integration-realdata, watcher-prometheus-integration-threading, watcher-aetos-integration-realdata

update unit tests for nova_helper module
  watcher/tests/common/test_nova_helper.py
Due: none

Retry calls to nova API when connection errors are detected
  releasenotes/notes/add-retries-nova-calls-32455b6fbf7523f1.yaml
  watcher/common/nova_helper.py
  watcher/conf/nova.py
  watcher/tests/common/test_nova_helper.py
Due: watcher-grenade, watcher-prometheus-integration, watcher-aetos-integration, watcher-prometheus-integration-realdata, watcher-prometheus-integration-threading, watcher-aetos-integration-realdata

Adds support for threading mode in applier
  .zuul.yaml
  doc/source/contributor/concurrency.rst
  releasenotes/notes/applier-threading-mode-882c79ca8843bc5a.yaml
  tox.ini
  watcher/applier/messaging/trigger.py
  watcher/applier/workflow_engine/base.py
  watcher/applier/workflow_engine/default.py
  watcher/common/utils.py
  watcher/tests/applier/workflow_engine/test_taskflow_action_container.py
Due: watcher-grenade, watcher-prometheus-integration, watcher-aetos-integration, watcher-prometheus-integration-realdata, watcher-prometheus-integration-threading, watcher-aetos-integration-realdata
