Repository openstack/watcher: changes, and which Zuul jobs are due for each by the changed paths.
All: watcher-grenade, watcher-prometheus-integration, watcher-aetos-integration, watcher-prometheus-integration-realdata, watcher-prometheus-integration-threading, watcher-aetos-integration-realdata, python-watcherclient-functional

Path conditions:
  watcher-grenade: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^watcher/hacking/.*$, ^watcher/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  watcher-prometheus-integration: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^watcher/hacking/.*$, ^watcher/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  watcher-aetos-integration: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^watcher/hacking/.*$, ^watcher/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  watcher-prometheus-integration-realdata: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^watcher/hacking/.*$, ^watcher/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  watcher-prometheus-integration-threading: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^watcher/hacking/.*$, ^watcher/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  watcher-aetos-integration-realdata: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^watcher/hacking/.*$, ^watcher/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  python-watcherclient-functional: any of: ^watcher/api/*

Allow status_message updates for actions in SKIPPED state
  api-ref/source/parameters.yaml
  api-ref/source/samples/action-update-status-message-request.json
  api-ref/source/samples/action-update-status-message-response.json
  api-ref/source/watcher-api-v1-actions.inc
  releasenotes/notes/bug-2121601-allow-status-message-updates-in-skipped-state-a8b4c5d7e9f2g3h1.yaml
  watcher/api/controllers/rest_api_version_history.rst
  watcher/api/controllers/v1/action.py
  watcher/tests/api/v1/test_actions.py
Due: watcher-grenade, watcher-prometheus-integration, watcher-aetos-integration, watcher-prometheus-integration-realdata, watcher-prometheus-integration-threading, watcher-aetos-integration-realdata, python-watcherclient-functional

Make Monasca client optional and lazy-load
  doc/source/datasources/index.rst
  doc/source/strategies/strategy-template.rst
  releasenotes/notes/make-monasca-client-optional-7e1a96b2ac902867.yaml
  requirements.txt
  setup.cfg
  tox.ini
  watcher/common/clients.py
  watcher/decision_engine/datasources/manager.py
  watcher/decision_engine/datasources/monasca.py
  watcher/tests/common/test_clients.py
  watcher/tests/decision_engine/datasources/test_manager.py
  watcher/tests/decision_engine/datasources/test_monasca_helper.py
  watcher/tests/decision_engine/strategy/strategies/test_base.py
Due: watcher-grenade, watcher-prometheus-integration, watcher-aetos-integration, watcher-prometheus-integration-realdata, watcher-prometheus-integration-threading, watcher-aetos-integration-realdata

Fix doc section to enable cinder notifications
  doc/source/configuration/configuring.rst
  releasenotes/notes/update-notification-topics-daf6303a63963ee9.yaml
  watcher/conf/decision_engine.py
Due: watcher-grenade, watcher-prometheus-integration, watcher-aetos-integration, watcher-prometheus-integration-realdata, watcher-prometheus-integration-threading, watcher-aetos-integration-realdata

Remove watcher_notifications from default value
  releasenotes/notes/update-notification-topics-daf6303a63963ee9.yaml
  watcher/conf/decision_engine.py
Due: watcher-grenade, watcher-prometheus-integration, watcher-aetos-integration, watcher-prometheus-integration-realdata, watcher-prometheus-integration-threading, watcher-aetos-integration-realdata

Check result of retype action based on type and status
  releasenotes/notes/bug-2112100-c1e56173cd29a35e.yaml
  watcher/common/cinder_helper.py
  watcher/tests/common/test_cinder_helper.py
Due: watcher-grenade, watcher-prometheus-integration, watcher-aetos-integration, watcher-prometheus-integration-realdata, watcher-prometheus-integration-threading, watcher-aetos-integration-realdata

Update prometheus-threading parent jop
  .zuul.yaml
Due: watcher-grenade, watcher-prometheus-integration, watcher-aetos-integration, watcher-prometheus-integration-realdata, watcher-prometheus-integration-threading, watcher-aetos-integration-realdata

Fix source_node value in host maintenance strategy migrate action
  releasenotes/notes/bug-2122149-fix-migrate-source-node-host-maintenance-30ef096bdb7e5b24.yaml
  watcher/decision_engine/strategy/strategies/host_maintenance.py
  watcher/tests/decision_engine/strategy/strategies/test_host_maintenance.py
Due: watcher-grenade, watcher-prometheus-integration, watcher-aetos-integration, watcher-prometheus-integration-realdata, watcher-prometheus-integration-threading, watcher-aetos-integration-realdata

Add 2025.2 release notes prelude
  releasenotes/notes/2025.2-prelude-a9f4c7b2e8d15692.yaml
Due: none

Enable storage model collector by default
  .zuul.yaml
  releasenotes/notes/storage_model_enabled_default-48c197f5a540956c.yaml
  watcher/common/keystone_helper.py
  watcher/conf/collector.py
  watcher/decision_engine/model/collector/manager.py
  watcher/decision_engine/strategy/strategies/base.py
  watcher/tests/cmd/test_decision_engine.py
  watcher/tests/common/test_keystone_helper.py
  watcher/tests/decision_engine/test_scheduling.py
  watcher/tests/fixtures/watcher.py
Due: watcher-grenade, watcher-prometheus-integration, watcher-aetos-integration, watcher-prometheus-integration-realdata, watcher-prometheus-integration-threading, watcher-aetos-integration-realdata

Handle missing dst_pool parameter in zone_migration
  doc/source/strategies/zone_migration.rst
  releasenotes/notes/zone-migration-missing-dst-node-bd0377af1f1ed245.yaml
  watcher/decision_engine/strategy/strategies/zone_migration.py
  watcher/tests/api/v1/test_audits.py
  watcher/tests/decision_engine/strategy/strategies/test_zone_migration.py
Due: watcher-grenade, watcher-prometheus-integration, watcher-aetos-integration, watcher-prometheus-integration-realdata, watcher-prometheus-integration-threading, watcher-aetos-integration-realdata

Fix missing X-OpenStack-Request-ID header
  releasenotes/notes/request-id-fdfe63effd88be78.yaml
  requirements.txt
  watcher/api/app.py
  watcher/tests/api/test_root.py
Due: watcher-grenade, watcher-prometheus-integration, watcher-aetos-integration, watcher-prometheus-integration-realdata, watcher-prometheus-integration-threading, watcher-aetos-integration-realdata, python-watcherclient-functional

Add capability to parse forward headers
  etc/watcher/oslo-config-generator/watcher.conf
  releasenotes/notes/http_proxy_to_wsgi-81ab98b39038fb39.yaml
  watcher/api/app.py
Due: watcher-grenade, watcher-prometheus-integration, watcher-aetos-integration, watcher-prometheus-integration-realdata, watcher-prometheus-integration-threading, watcher-aetos-integration-realdata, python-watcherclient-functional

Fix missing CORS middleware
  etc/watcher/oslo-config-generator/watcher.conf
  releasenotes/notes/cors-e506801ebc0ed3f1.yaml
  setup.cfg
  watcher/api/app.py
  watcher/common/config.py
  watcher/common/service.py
Due: watcher-grenade, watcher-prometheus-integration, watcher-aetos-integration, watcher-prometheus-integration-realdata, watcher-prometheus-integration-threading, watcher-aetos-integration-realdata, python-watcherclient-functional

Update .gitreview for stable/2025.2
  .gitreview
Due: watcher-grenade, watcher-prometheus-integration, watcher-aetos-integration, watcher-prometheus-integration-realdata, watcher-prometheus-integration-threading, watcher-aetos-integration-realdata

Update TOX_CONSTRAINTS_FILE for stable/2025.2
  tox.ini
Due: none

Update master for stable/2025.2
  releasenotes/source/2025.2.rst
  releasenotes/source/index.rst
Due: none

Allow volume and vm migrations in zone_migration
  releasenotes/notes/bug-2109722-cb205216d0c1a836.yaml
  watcher/decision_engine/strategy/strategies/zone_migration.py
  watcher/tests/decision_engine/strategy/strategies/test_zone_migration.py
Due: watcher-grenade, watcher-prometheus-integration, watcher-aetos-integration, watcher-prometheus-integration-realdata, watcher-prometheus-integration-threading, watcher-aetos-integration-realdata

Add test for zone_migration with instances and volumes
  watcher/tests/decision_engine/strategy/strategies/test_zone_migration.py
Due: none

Support zone migration audit without compute_nodes
  releasenotes/notes/zone-migration-with-attached-volume-without-compute-nodes-ec4b1329e2b58279.yaml
  watcher/decision_engine/strategy/strategies/zone_migration.py
  watcher/tests/decision_engine/strategy/strategies/test_zone_migration.py
Due: watcher-grenade, watcher-prometheus-integration, watcher-aetos-integration, watcher-prometheus-integration-realdata, watcher-prometheus-integration-threading, watcher-aetos-integration-realdata

Use src_type to filter volumes in zone migration
  doc/source/strategies/zone_migration.rst
  releasenotes/notes/zone_migrate_src_type-642186730a4f354e.yaml
  watcher/decision_engine/strategy/strategies/zone_migration.py
  watcher/tests/api/v1/test_audits.py
  watcher/tests/decision_engine/strategy/strategies/test_zone_migration.py
Due: watcher-grenade, watcher-prometheus-integration, watcher-aetos-integration, watcher-prometheus-integration-realdata, watcher-prometheus-integration-threading, watcher-aetos-integration-realdata

Improve unit tests for zone migration strategy
  watcher/tests/decision_engine/strategy/strategies/test_zone_migration.py
Due: none

Add unit tests for instance and volume not found in model
  watcher/tests/decision_engine/strategy/strategies/test_zone_migration.py
Due: none

Fix zone migration instance not found issue
  releasenotes/notes/bug-2098984-zone-migration-instance-not-found-b9ce947dd3e7e020.yaml
  watcher/decision_engine/strategy/strategies/zone_migration.py
  watcher/tests/decision_engine/strategy/strategies/test_zone_migration.py
Due: watcher-grenade, watcher-prometheus-integration, watcher-aetos-integration, watcher-prometheus-integration-realdata, watcher-prometheus-integration-threading, watcher-aetos-integration-realdata

Add missing 1.6 API doc in rest version history
  watcher/api/controllers/rest_api_version_history.rst
Due: python-watcherclient-functional

Enable Continuous Audit tests in CI
  .zuul.yaml
Due: watcher-grenade, watcher-prometheus-integration, watcher-aetos-integration, watcher-prometheus-integration-realdata, watcher-prometheus-integration-threading, watcher-aetos-integration-realdata

Add user guide for continuous audits
  doc/source/user/continuous_type_audit.rst
  doc/source/user/index.rst
Due: none

Remove last column from strategies table
  doc/source/strategies/index.rst
Due: none

Remove outdated zone migration documentation note
  doc/source/strategies/zone_migration.rst
Due: none

apply pyupgrade to 3.10+
  watcher/api/controllers/base.py
  watcher/api/controllers/v1/audit.py
  watcher/api/controllers/v1/audit_template.py
  watcher/api/controllers/v1/collection.py
  watcher/common/nova_helper.py
  watcher/decision_engine/datasources/gnocchi.py
  watcher/decision_engine/datasources/prometheus.py
  watcher/decision_engine/strategy/strategies/base.py
  watcher/decision_engine/strategy/strategies/basic_consolidation.py
  watcher/hacking/checks.py
  watcher/notifications/base.py
  watcher/tests/api/v1/test_actions.py
  watcher/tests/api/v1/test_actions_plans.py
  watcher/tests/api/v1/test_audit_templates.py
  watcher/tests/api/v1/test_audits.py
  watcher/tests/api/v1/test_goals.py
  watcher/tests/api/v1/test_scoring_engines.py
  watcher/tests/api/v1/test_services.py
  watcher/tests/api/v1/test_strategies.py
  watcher/tests/common/loader/test_loader.py
  watcher/tests/conf/test_list_opts.py
  watcher/tests/db/test_action_description.py
  watcher/tests/db/test_audit.py
  watcher/tests/db/test_audit_template.py
  watcher/tests/db/test_purge.py
  watcher/tests/db/test_scoring_engine.py
  watcher/tests/db/test_service.py
  watcher/tests/db/test_strategy.py
  watcher/tests/decision_engine/audit/test_audit_handlers.py
  watcher/tests/decision_engine/loading/test_collector_loader.py
  watcher/tests/decision_engine/loading/test_default_strategy_loader.py
  watcher/tests/decision_engine/loading/test_goal_loader.py
  watcher/tests/decision_engine/model/faker_cluster_state.py
  watcher/tests/decision_engine/model/gnocchi_metrics.py
  watcher/tests/decision_engine/model/test_model.py
  watcher/tests/decision_engine/scope/test_compute.py
  watcher/tests/decision_engine/scope/test_storage.py
  watcher/tests/decision_engine/strategy/context/test_strategy_context.py
Due: watcher-grenade, watcher-prometheus-integration, watcher-aetos-integration, watcher-prometheus-integration-realdata, watcher-prometheus-integration-threading, watcher-aetos-integration-realdata, python-watcherclient-functional

Ignore cinder notifications if the Storage model is empty
  watcher/decision_engine/model/notification/cinder.py
  watcher/tests/decision_engine/model/faker_cluster_state.py
  watcher/tests/decision_engine/model/notification/test_cinder_notifications.py
Due: watcher-grenade, watcher-prometheus-integration, watcher-aetos-integration, watcher-prometheus-integration-realdata, watcher-prometheus-integration-threading, watcher-aetos-integration-realdata

Add ThreadPool statistics debug log
  .zuul.yaml
  watcher/common/executor.py
  watcher/common/scheduling.py
  watcher/conf/service.py
  watcher/decision_engine/messaging/audit_endpoint.py
  watcher/decision_engine/threading.py
  watcher/tests/common/test_executor.py
Due: watcher-grenade, watcher-prometheus-integration, watcher-aetos-integration, watcher-prometheus-integration-realdata, watcher-prometheus-integration-threading, watcher-aetos-integration-realdata
