Repository openstack/watcher: changes, and which Zuul jobs are due for each by the changed paths.
All: watcher-tempest-gnocchi, watcher-tempest-api-ipv6-only, watcher-grenade, watcher-tempest-prometheus, watcher-tempest-aetos, watcher-tempest-prometheus-realdata, watcher-tempest-prometheus-threading, watcher-tempest-aetos-realdata, watcher-tempest-functional, watcher-aetos-integration, python-watcherclient-functional

watcher-tempest-gnocchi:
  parent: watcher-tempest-base-two-node
  description: 'Watcher multinode devstack tempest job with Gnocchi as datasource. This
  
    job uses fake metrics injection and does not requires ceilometer-acompute
  
    to be enabled.
  
    '
  vars:
    devstack_localrc:
  ...

watcher-tempest-api-ipv6-only:
  parent: devstack-tempest-ipv6
  description: 'Watcher single node devstack tempest job for IPv6-only deployment.
  
    '
  required-projects:
  - openstack/ceilometer
  - openstack/python-openstackclient
  - openstack/python-watcherclient
  - openstack/watcher
  - openstack/watcher-tempest-plugin
  ...

watcher-grenade:
  parent: grenade
  required-projects:
  - openstack/ceilometer
  - openstack/python-openstackclient
  - openstack/python-watcherclient
  - openstack/watcher
  - openstack/watcher-tempest-plugin
  - openstack/tempest
  vars:
    configure_swap_size: 8192
    devstack_plugins:
  ...

watcher-tempest-prometheus:
  parent: watcher-tempest-base-two-node
  description: 'Watcher multinode devstack tempest job with Prometheus as datasource.
  
    This job uses fake metrics injection and does not require ceilometer-acompute
  
    and node_exporter to be enabled.
  
    '
  pre-run:
  - playbooks/generate_prometheus_config.yml
  ...

watcher-tempest-aetos:
  parent: watcher-tempest-prometheus
  description: 'Watcher multinode devstack tempest job with Aetos reverse-proxy for
  
    Prometheus, using Keystone authentication instead of direct Prometheus access.
  
    This job uses fake metrics injection and does not require ceilometer-acompute
  
  ...

watcher-tempest-prometheus-realdata:
  parent: watcher-tempest-prometheus
  nodeset: openstack-three-node-noble
  description: 'Watcher multinode devstack tempest job with Prometheus as datasource and
  
    real workload data. This job is executed on a three-node setup to have
  
  ...

watcher-tempest-prometheus-threading:
  parent: watcher-tempest-prometheus
  description: 'Watcher multinode devstack tempest job with Prometheus as datasource and
  
    threading mode enabled in specific services.
  
    '
  vars:
    devstack_localrc:
      SYSTEMD_ENV_VARS["watcher-decision-engine"]: OS_WATCHER_DISABLE_EVENTLET_PATCHING=true
  ...

watcher-tempest-aetos-realdata:
  parent: watcher-tempest-aetos
  nodeset: openstack-three-node-noble
  description: 'Watcher multinode devstack tempest job with Aetos reverse-proxy and real
  
    workload data. This job is executed on a three-node setup to have
  
    pure controller and compute nodes and avoid resource competition.
  
    '
  ...

watcher-tempest-functional:
  parent: watcher-tempest-base

watcher-aetos-integration:
  parent: watcher-tempest-aetos

tox: Drop redundant passenv
  tox.ini
Due: none

Update .gitreview for stable/2026.2
  .gitreview
Due: watcher-tempest-gnocchi, watcher-tempest-api-ipv6-only, watcher-grenade, watcher-tempest-prometheus, watcher-tempest-aetos, watcher-tempest-prometheus-realdata, watcher-tempest-prometheus-threading, watcher-tempest-aetos-realdata, watcher-tempest-functional, watcher-aetos-integration

Update TOX_CONSTRAINTS_FILE for stable/2026.2
  tox.ini
Due: none

Update master for stable/2026.2
  releasenotes/source/2026.2.rst
  releasenotes/source/index.rst
Due: none

Raise minimum Python to 3.11 for 2026.2 runtime
  pyproject.toml
  releasenotes/notes/python311-requirement-94e4b7c2d1a563f8.yaml
  tox.ini
  watcher/api/controllers/v1/audit.py
  watcher/common/metal_helper/constants.py
  watcher/common/utils.py
  watcher/decision_engine/audit/continuous.py
  watcher/tests/unit/api/v1/test_audits.py
  watcher/tests/unit/objects/test_action.py
  watcher/tests/unit/objects/test_action_description.py
  watcher/tests/unit/objects/test_action_plan.py
  watcher/tests/unit/objects/test_audit.py
  watcher/tests/unit/objects/test_audit_template.py
  watcher/tests/unit/objects/test_goal.py
  watcher/tests/unit/objects/test_objects.py
  watcher/tests/unit/objects/test_scoring_engine.py
  watcher/tests/unit/objects/test_service.py
Due: watcher-tempest-gnocchi, watcher-tempest-api-ipv6-only, watcher-grenade, watcher-tempest-prometheus, watcher-tempest-aetos, watcher-tempest-prometheus-realdata, watcher-tempest-prometheus-threading, watcher-tempest-aetos-realdata, watcher-tempest-functional, watcher-aetos-integration, python-watcherclient-functional

Make openstack-tox-py314 voting in check and gate
  .zuul.yaml
Due: watcher-tempest-gnocchi, watcher-tempest-api-ipv6-only, watcher-grenade, watcher-tempest-prometheus, watcher-tempest-aetos, watcher-tempest-prometheus-realdata, watcher-tempest-prometheus-threading, watcher-tempest-aetos-realdata, watcher-tempest-functional, watcher-aetos-integration

Add Hibiscus (2026.2) release note prelude
  releasenotes/notes/2026.2-prelude-f539788e6f02552d.yaml
Due: none

Remove MAAS integration
  doc/source/integrations/index.rst
  releasenotes/notes/remove-maas-integration-82d569d52104a3ae.yaml
  tox.ini
  watcher/applier/actions/change_node_power_state.py
  watcher/cmd/eventlet/__init__.py
  watcher/common/clients.py
  watcher/common/metal_helper/factory.py
  watcher/common/metal_helper/maas.py
  watcher/common/utils.py
  watcher/conf/__init__.py
  watcher/conf/maas_client.py
  watcher/decision_engine/model/collector/ironic.py
  watcher/tests/unit/common/metal_helper/test_factory.py
  watcher/tests/unit/common/metal_helper/test_maas.py
  watcher/tests/unit/common/test_utils.py
Due: watcher-tempest-gnocchi, watcher-tempest-api-ipv6-only, watcher-grenade, watcher-tempest-prometheus, watcher-tempest-aetos, watcher-tempest-prometheus-realdata, watcher-tempest-prometheus-threading, watcher-tempest-aetos-realdata, watcher-tempest-functional, watcher-aetos-integration

Remove the eventlet based watcher-api server
  doc/source/admin/apache-mod-wsgi.rst
  doc/source/admin/index.rst
  doc/source/admin/wsgi.rst
  doc/source/conf.py
  doc/source/configuration/configuring.rst
  doc/source/contributor/environment.rst
  doc/source/install/common_configure.rst
  doc/source/man/index.rst
  doc/source/man/watcher-api.rst
  doc/source/user/ways-to-install.rst
  pyproject.toml
  releasenotes/notes/remove-watcher-api-server-bec4752b7bc45f79.yaml
  watcher/cmd/eventlet/api.py
  watcher/common/service.py
  watcher/conf/api.py
  watcher/tests/unit/cmd/test_api.py
Due: watcher-tempest-gnocchi, watcher-tempest-api-ipv6-only, watcher-grenade, watcher-tempest-prometheus, watcher-tempest-aetos, watcher-tempest-prometheus-realdata, watcher-tempest-prometheus-threading, watcher-tempest-aetos-realdata, watcher-tempest-functional, watcher-aetos-integration

Remove eventlet support
  .zuul.yaml
  doc/source/contributor/concurrency.rst
  pyproject.toml
  releasenotes/notes/remove-eventlet-2160680da227b0fd.yaml
  requirements.txt
  tox.ini
  watcher/__init__.py
  watcher/applier/workflow_engine/default.py
  watcher/cmd/applier.py
  watcher/cmd/decisionengine.py
  watcher/cmd/eventlet/__init__.py
  watcher/common/executor.py
  watcher/common/scheduling.py
  watcher/eventlet.py
  watcher/tests/functional/__init__.py
  watcher/tests/unit/__init__.py
  watcher/tests/unit/cmd/test_applier.py
  watcher/tests/unit/cmd/test_decision_engine.py
  watcher/tests/unit/common/test_executor.py
  watcher/tests/unit/common/test_oslo_service_helper.py
  watcher/tests/unit/common/test_scheduling.py
  watcher/tests/unit/test_init.py
Due: watcher-tempest-gnocchi, watcher-tempest-api-ipv6-only, watcher-grenade, watcher-tempest-prometheus, watcher-tempest-aetos, watcher-tempest-prometheus-realdata, watcher-tempest-prometheus-threading, watcher-tempest-aetos-realdata, watcher-tempest-functional, watcher-aetos-integration

Remove the deprecated WSGI scripts
  doc/source/admin/apache-mod-wsgi.rst
  doc/source/admin/wsgi.rst
  etc/apache2/watcher
  pyproject.toml
  releasenotes/notes/remove-deprecated-wsgi-scripts-4b4d31de46e35a40.yaml
  releasenotes/notes/remove-watcher-api-server-bec4752b7bc45f79.yaml
  tox.ini
  watcher/api/app.wsgi
  watcher/api/wsgi.py
Due: watcher-tempest-gnocchi, watcher-tempest-api-ipv6-only, watcher-grenade, watcher-tempest-prometheus, watcher-tempest-aetos, watcher-tempest-prometheus-realdata, watcher-tempest-prometheus-threading, watcher-tempest-aetos-realdata, watcher-tempest-functional, watcher-aetos-integration, python-watcherclient-functional

Fix baremetal collector notification_endpoints returns None
  watcher/decision_engine/model/collector/ironic.py
  watcher/tests/unit/decision_engine/cluster/test_cluster_data_model_collector.py
Due: watcher-tempest-gnocchi, watcher-tempest-api-ipv6-only, watcher-grenade, watcher-tempest-prometheus, watcher-tempest-aetos, watcher-tempest-prometheus-realdata, watcher-tempest-prometheus-threading, watcher-tempest-aetos-realdata, watcher-tempest-functional, watcher-aetos-integration

Fix strategies not honoring audit scope exclusions
  releasenotes/notes/fix-strategies-audit-scope-exclusion-4c2b7f1a9d6e0a3b.yaml
  watcher/decision_engine/strategy/strategies/host_maintenance.py
  watcher/decision_engine/strategy/strategies/node_resource_consolidation.py
  watcher/decision_engine/strategy/strategies/zone_migration.py
  watcher/tests/functional/test_host_maintenance_scoped.py
  watcher/tests/unit/decision_engine/strategy/strategies/test_host_maintenance.py
  watcher/tests/unit/decision_engine/strategy/strategies/test_node_resource_consolidation.py
  watcher/tests/unit/decision_engine/strategy/strategies/test_zone_migration.py
Due: watcher-tempest-gnocchi, watcher-tempest-api-ipv6-only, watcher-grenade, watcher-tempest-prometheus, watcher-tempest-aetos, watcher-tempest-prometheus-realdata, watcher-tempest-prometheus-threading, watcher-tempest-aetos-realdata, watcher-tempest-functional, watcher-aetos-integration

Skip unscheduled volumes in Cinder collector
  releasenotes/notes/bug-2167852-cinder-collector-volume-no-host-12ac215928849ec2.yaml
  watcher/decision_engine/model/collector/cinder.py
  watcher/tests/unit/decision_engine/cluster/test_cinder_cdmc.py
Due: watcher-tempest-gnocchi, watcher-tempest-api-ipv6-only, watcher-grenade, watcher-tempest-prometheus, watcher-tempest-aetos, watcher-tempest-prometheus-realdata, watcher-tempest-prometheus-threading, watcher-tempest-aetos-realdata, watcher-tempest-functional, watcher-aetos-integration

Fix strategies not honoring audit scope exclusions
  releasenotes/notes/fix-strategies-audit-scope-exclusion-4c2b7f1a9d6e0a3b.yaml
  watcher/decision_engine/strategy/strategies/host_maintenance.py
  watcher/decision_engine/strategy/strategies/node_resource_consolidation.py
  watcher/decision_engine/strategy/strategies/zone_migration.py
  watcher/tests/unit/decision_engine/strategy/strategies/test_host_maintenance.py
  watcher/tests/unit/decision_engine/strategy/strategies/test_node_resource_consolidation.py
  watcher/tests/unit/decision_engine/strategy/strategies/test_zone_migration.py
Due: watcher-tempest-gnocchi, watcher-tempest-api-ipv6-only, watcher-grenade, watcher-tempest-prometheus, watcher-tempest-aetos, watcher-tempest-prometheus-realdata, watcher-tempest-prometheus-threading, watcher-tempest-aetos-realdata, watcher-tempest-functional, watcher-aetos-integration

Fix strategies not honoring audit scope exclusions
  releasenotes/notes/fix-strategies-audit-scope-exclusion-4c2b7f1a9d6e0a3b.yaml
  watcher/decision_engine/strategy/strategies/host_maintenance.py
  watcher/decision_engine/strategy/strategies/node_resource_consolidation.py
  watcher/decision_engine/strategy/strategies/zone_migration.py
  watcher/tests/decision_engine/strategy/strategies/test_host_maintenance.py
  watcher/tests/decision_engine/strategy/strategies/test_node_resource_consolidation.py
  watcher/tests/decision_engine/strategy/strategies/test_zone_migration.py
Due: watcher-tempest-gnocchi, watcher-tempest-api-ipv6-only, watcher-grenade, watcher-tempest-prometheus, watcher-tempest-aetos, watcher-tempest-prometheus-realdata, watcher-tempest-prometheus-threading, watcher-tempest-aetos-realdata, watcher-tempest-functional, watcher-aetos-integration

Stop instantiating GrafanaHelper unconditionally
  releasenotes/notes/no-eager-grafana-helper-a2c8c3ee6de331a7.yaml
  watcher/decision_engine/datasources/manager.py
  watcher/tests/unit/decision_engine/datasources/test_manager.py
Due: watcher-tempest-gnocchi, watcher-tempest-api-ipv6-only, watcher-grenade, watcher-tempest-prometheus, watcher-tempest-aetos, watcher-tempest-prometheus-realdata, watcher-tempest-prometheus-threading, watcher-tempest-aetos-realdata, watcher-tempest-functional, watcher-aetos-integration

Rename multinode base job to three-node and use three-node nodeset
  .zuul.yaml
Due: watcher-tempest-gnocchi, watcher-tempest-api-ipv6-only, watcher-grenade, watcher-tempest-prometheus, watcher-tempest-aetos, watcher-tempest-prometheus-realdata, watcher-tempest-prometheus-threading, watcher-tempest-aetos-realdata, watcher-tempest-functional, watcher-aetos-integration

Imported Translations from Zanata
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/fr/LC_MESSAGES/releasenotes.po
Due: none

Make docs reproducible
  watcher/conf/paths.py
Due: watcher-tempest-gnocchi, watcher-tempest-api-ipv6-only, watcher-grenade, watcher-tempest-prometheus, watcher-tempest-aetos, watcher-tempest-prometheus-realdata, watcher-tempest-prometheus-threading, watcher-tempest-aetos-realdata, watcher-tempest-functional, watcher-aetos-integration

Fix double-encoding of JSON error bodies in middleware
  releasenotes/notes/fix-double-encoding-error-responses-b9b57e1bd0a74b40.yaml
  watcher/api/middleware/parsable_error.py
  watcher/tests/unit/api/test_hooks.py
  watcher/tests/unit/api/v1/test_actions.py
  watcher/tests/unit/api/v1/test_actions_plans.py
  watcher/tests/unit/api/v1/test_audit_templates.py
  watcher/tests/unit/api/v1/test_audits.py
  watcher/tests/unit/api/v1/test_data_model.py
  watcher/tests/unit/api/v1/test_goals.py
  watcher/tests/unit/api/v1/test_scoring_engines.py
  watcher/tests/unit/api/v1/test_services.py
  watcher/tests/unit/api/v1/test_strategies.py
Due: watcher-tempest-gnocchi, watcher-tempest-api-ipv6-only, watcher-grenade, watcher-tempest-prometheus, watcher-tempest-aetos, watcher-tempest-prometheus-realdata, watcher-tempest-prometheus-threading, watcher-tempest-aetos-realdata, watcher-tempest-functional, watcher-aetos-integration, python-watcherclient-functional

Path conditions:
  watcher-tempest-gnocchi: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^watcher/hacking/.*$, ^watcher/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  watcher-tempest-api-ipv6-only: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^watcher/hacking/.*$, ^watcher/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  watcher-grenade: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^watcher/hacking/.*$, ^watcher/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  watcher-tempest-prometheus: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^watcher/hacking/.*$, ^watcher/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  watcher-tempest-aetos: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^watcher/hacking/.*$, ^watcher/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  watcher-tempest-prometheus-realdata: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^watcher/hacking/.*$, ^watcher/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  watcher-tempest-prometheus-threading: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^watcher/hacking/.*$, ^watcher/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  watcher-tempest-aetos-realdata: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^watcher/hacking/.*$, ^watcher/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  watcher-tempest-functional: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^watcher/hacking/.*$, ^watcher/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  watcher-aetos-integration: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^watcher/hacking/.*$, ^watcher/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  python-watcherclient-functional: any of: ^watcher/api/*
